CHOLO_PUBLIC_KEY=
CHOLO_PRIVATE_KEY=

CHOLO_TESTNET_ADDRESS_1=
CHOLO_TESTNET_PRIVATE_KEY_1=

CHOLO_TESTNET_ADDRESS_2=
CHOLO_TESTNET_PRIVATE_KEY_2=

CHOLO_TESTNET_ADDRESS_3=
CHOLO_TESTNET_PRIVATE_KEY_3=

CHOLO_TESTNET_ADDRESS_4=
CHOLO_TESTNET_PRIVATE_KEY_4=
